body {
	padding-bottom: 2em;
	font-size: 16px;
}
.container {
	max-width: 800px;
}
h1 {
	font-size: 48px;
}

#top-navigation {
	margin-bottom: 2.5em;
}
#top-navigation,
#top-navigation .navbar-brand {
	font-size: 14px;
}
.navbar-default {
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	background-color: inherit;
}
